<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>847587799178-56l7qmqvfq62hkjd8mq0hnebbrhnpd24.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.847587799178-56l7qmqvfq62hkjd8mq0hnebbrhnpd24</string>
	<key>API_KEY</key>
	<string>AIzaSyAdzcU2DGvZjnl8Az0mKG29SouYZdiyIvE</string>
	<key>GCM_SENDER_ID</key>
	<string>847587799178</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jobserviceapp.app</string>
	<key>PROJECT_ID</key>
	<string>job-service-mob-app</string>
	<key>STORAGE_BUCKET</key>
	<string>job-service-mob-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:847587799178:ios:41f95de9fc955aa83a3d73</string>
</dict>
</plist>